<%= form_for(@startup) do |f| %>
  <% if @startup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
      <% @startup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
    <label><%= f.label :name %></label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label><%= f.label :description %></label>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <label><%= f.label :url %></label>
    <%= f.text_field :url, class: "form-control" %>
  </div>
        <%= f.submit 'Submit', :class => 'btn btn-primary btn-large' %>
  <button class="btn btn-default"><%= link_to 'Cancel', startups_path %></button>
</form>
<% end %>
